<div id="wrapper">
    <div>
        <h2>Your name:</h2>
        <form action="/pun" method="GET">
            <input type="text" name="name" id="nameInput">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>